
@{
    ViewBag.Title = "GoToUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GoToUsers</h2>



<div class="botonToUsers">
    @Html.ActionLink("Ir al listado de Desarrolladores", "DevelopersList", null, new { @class = "btn btn-primary btn-lg" })
</div>

