
@{
    ViewBag.Title = "GoToUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GoToUsers</h2>


<br />
<br />
<div class="botonToUsers">
    @Html.ActionLink("Ir al listado de Desarrolladores", "DevelopersList", null, new { @class = "btn btn-primary btn-lg" })
    <br />
    <br />
    @Html.ActionLink("Actualizar BD", "UpdateUsersDB", null, new { @class = "btn btn-primary btn-lg" })
</div>
<div style="text-align:right">
    @Html.ActionLink("- Cerrar sesion -", "Index")
</div>

